<h1>Workouter</h1>
<p>こんにちは！ <%= @user.name %>,</p>
<p>
  Workouterにご登録いただきありがとうございます。以下のリンクをクリックして、アカウントを有効化してください。
</p>
<%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
email: @user.email) %>
