<% provide(:title, 'ユーザーを探す') %>

<article class="users inner">
  <h1>ユーザーを探す</h1>
  <h4 class="sub-title">条件設定</h4>

  <ul>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>
</article>
