<% @user ||= current_user %>
<a href="<%= following_user_path(@user) %>">
  <strong id="following">
    <%= @user.following.count %>
  </strong>
  フォロー
</a>
<a href="<%= followers_user_path(@user) %>">
  <strong id="followers">
    <%= @user.followers.count %>
  </strong>
  フォロワー
</a>
