/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './layout.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

//selector
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  color: $black;
  background-color: $white;

  letter-spacing: 0.05em;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .3s;

  &:hover {
    opacity: 0.8;
  }
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 27px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

input,
select,
textarea {
  padding: 6px;
  font-size: 16px;
  border: solid 1px $gray;
  border-radius: 5px;
}

input[type=file] {
  border: none;
}

input[type=submit] {
  cursor: pointer;
  transition: all .3s;

  &:hover {
    opacity: .8;
  }
}

article{
  padding-top: 56px;
  h1 {
    padding-left: 16px;
    margin-bottom: 32px;
    border-left: solid 6px $green;
  }
}

// mixin
@mixin btn($background: $green, $color: $white, $border: $green) {
  padding: 8px 24px;

  background-color: $background;
  color: $color;
  border: solid 1px $border;
  border-radius: 50px;
}

// components
.btn {
  &-green {
    @include btn;

    &__reverse {
      @include btn($white, $green, $green);
    }
  }

  &-blue {
    @include btn($blue, $white, $blue);

    &__reverse {
      @include btn($white, $blue, $blue);
    }
  }

  &-red {
    @include btn($red, $white, $red);
  }
}

.link {
  &-blue {
    color: $blue;
  }
}

.fa-thumbs-up {
  color: $blue;
}

.sub-title {
  margin-bottom: 16px;

  &::before {
    content: '\03e\03e';
    margin-right: 4px;
    color: $yellow;
    font-size: 21px;
  }
}

.man_icon {
  color: $navy;
}

.woman_icon {
  color: $pink;
}

.avatar {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.alert {
  position: fixed;
  top: 64px;
  width: 100%;
  padding: 8px 0;

  color: $white;
  text-align: center;

  &-success {
    background-color: rgba($color: $green, $alpha: 0.7);
  }

  &-danger {
    background-color: rgba($color: $red, $alpha: 0.7)
  }

  &-warning {
    background-color: rgba($color: $yellow, $alpha: 0.7)
  }
}

// header
.header {
  @extend .flex-box;
  justify-content: space-between;

  position: fixed;
  z-index: 100;

  width: 100%;
  padding: 8px 40px;

  color: $green;
  background-color: $white;
  box-shadow: 0px 4px 8px rgba($color: $black, $alpha: 0.25);

  &-logo {
    color: $green;
    font-size: 32px;
  }

  ul {
    @extend .flex-box;

    li {
      &:not(:last-child) {
        margin-right: 24px;
      }

      a {
        color: $green;
      }

      .btn-green {
        color: $white;
      }
    }
  }
}

// footer
.footer {
  background-color: $green;

  ul {
    @extend .flex-box;

    li:not(:last-child) {
      margin-right: 16px;
    }
  }

  a {
    color: $white;
  }

  &-logo {
    font-size: 32px;
    margin-bottom: 16px;
  }

  &-home {
    padding: 16px 0;
    text-align: center;
  }

  &-login {
    @extend .flex-box;
    justify-content: space-between;

    padding: 40px;
  }

  &-map {
    p {
      color: $white;
      margin-bottom: 16px;
    }
  }
}

// form
.sign-up,
.login,
.users,
.users-show,
.users-edit,
.password-reset {
  input[type=text],
  input[type=password] {
    width: 300px;
  }
  dl {
    @extend .flex-box;
    margin-bottom: 24px;

    dt {
      width: 150px;
      color: $gray;
    }
  }
}
