// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './layout.scss';

.chats {
  &-item {

    &:last-child {
      margin-bottom: 24px;
    }

    .avatar {
      width: 80px;
      margin-right: 24px;
    }

    &__name {
      margin-bottom: 8px;
    }

    &__message {
      color: $gray;
    }
  }

  &-show {
    .avatar {
      width: 48px;
      margin-right: 16px;
    }

    &__box {
      @extend .box-shadow;
    }

    &__name {
      @extend .flex-box;
      padding: 16px 24px;
      background-color: $green;
      border-radius: 15px 15px 0 0;

      p {
        color: $white;
      }
    }

    table {
      width: 80%;
      margin: 0 auto;
      padding: 16px;

      tbody {
        th {
          width: 50%;
          margin-bottom: 16px;
        }
      }
    }

    .my-message p,
    .your-message p {
      @extend .box-shadow;
      padding: 16px;
    }

    .my-message {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .your-message {
      @extend .flex-box;
      width: 100%;

      p {
        color: $white;
        background-color: $green;
      }
    }

    &__text {
      padding: 16px 24px;
      border-top: solid 1px $black;

      form {
        @extend .flex-box;
      }

      input[type=text] {
        height: 42px;
        width: 70%;
        padding: 6px 16px;
        margin-right: 10%;
        border-radius: 30px;
      }

      .btn-blue {
        width: 20%;
      }
    }
  }
}
