// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './layout.scss';

// users
.users {
  .search-form {
    margin-bottom: 40px;
  }
  &-item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &__wrap {
      display: flex;
      width: 100%;
      padding: 32px 4%;

      color: $black;
      box-shadow: 0 0 15px rgba($color: $black, $alpha: .2);
      border-radius: 15px;
    }

    &__img {
      margin-right: 4%;

      img {
        border-radius: 50%;
      }
    }

    &__intro {
      padding: 16px 0;
    }

    &__top {
      display: flex;
      align-items: flex-end;
      margin-bottom: 24px;
    }

    &__name {
      @extend .flex-box;
      margin-right: 6%;

      .fa-user {
        margin-right: 8px;
        height: 27px;
      }
    }

    &__detail {
      display: flex;
      align-items: flex-end;

      p {
        color: $gray;

        &:not(:last-child) {
          margin-right: 16px;
        }
      }

      .fa-thumbs-up {
        height: 24px;
        margin-right: 8px;
      }
    }

    &__under {
      p {
        font-weight: 500;
      }
    }
  }

  &-show {
    &__box {
      display: flex;
    }

    &__left {
      width: calc(50% - 32px);
    }

    &__top {
      @extend .flex-box;
      margin-bottom: 32px;
    }

    &__img {
      margin-right: 32px;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
      }
    }

    &__name {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        @extend .flex-box;
      }

      svg {
        height: 24px;
        margin-right: 8px;
      }
    }

    &__follow {
      @extend .flex-box;

      a:not(:last-child),
      input {
        margin-right: 8px;
      }
    }

    &__details {
      dl {
        padding-left: 27px;
      }
    }

    &__intro {
      margin-bottom: 32px;

      p {
        padding-left: 27px;
      }
    }
  }

  &-edit {
    &__img {
      img {
        width: 200px;
        border-radius: 50%;
        aspect-ratio: 1/1;
      }
    }
    &__intro {
      align-items: flex-start!important;

      textarea {
        width: 300px;
        height: 200px;
      }
    }
  }
}

// sign-up
.sign-up,
.login,
.users,
.users-show,
.users-edit {
  input[type=text],
  input[type=password] {
    width: 300px;
  }
  dl {
    @extend .flex-box;
    margin-bottom: 24px;

    dt {
      width: 150px;
      color: $gray;
    }
  }
}
