<footer>
  <div class="inner">
    <%= link_to "Workouter", root_path %>
  </div>
  <nav>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "ログイン", login_path %></li>
  </nav>
</footer>
